body {
  box-sizing: border-box;
}

#phone-body {
  height: 560px;
  width: 286px;
  background: #006bb3;
  border-radius: 26px;
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  background-image: linear-gradient(
    #006bb3 7%,
    black 1%,
    black 93.9%,
    #006bb3 1%
  );
}

#speaker {
  background: black;
  margin-top: 9px;
  padding: 2px 30px 0px 30px;
  border-radius: 10px 10px 0px 0px;
}

#front-camera {
  height: 12px;
  width: 16px;
  background: black;
  border-radius: 50px;
  margin: 10px 0 0 48%;
  padding-top: 4px;
  opacity: 0.9;
}

#camera {
  height: 8.5px;
  width: 8.5px;
  background: gray;
  border-radius: 50px;
  margin-left: 3.8px;
  opacity: 0.4;
}

#screen {
  height: 33.2em;
  width: 97%;
  background: white;
  border-radius: 26px;
  background-image: url("./home2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.side-btns {
  height: 46px;
  width: 4px;
  background: black;
  margin-top: 5px;
  margin-left: 280px;
  border-radius: 0px 10px 10px 0px;
}

#side-btn {
  margin-top: 50px;
}

#power-btn {
  margin-top: 30px;
}

#home-screen {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin-left: 20px;
}

.home-icons {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  margin-top: 20px;
}

.home-icons:hover {
  cursor: pointer;
}

#action-btns {
  width: 100%;
  margin-top: 140px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

#multi-task {
  height: 12px;
  width: 8px;
  border-left: solid 2px white;
  border-right: solid 2px white;
  display: grid;
}

.multi-task-line {
  height: 100%;
  width: 2px;
  background: white;
  justify-self: center;
}

#home {
  height: 10px;
  width: 10px;
  border: solid 2px white;
  border-radius: 5px;
}

#back {
  font-size: 20px;
  margin-top: -2px;
  font-weight: bold;
  color: white;
}

#back,
#home,
#multi-task {
  justify-self: center;
  cursor: pointer;
}
